<div class="ui column four wide">
  <table class="ui selectable compact celled table">
    <thead class="title">
    <tr>
      <th colspan="2">Captains</th>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
      <tr class="content">
        <td>{{userName}}</td>
        <td>{{captain}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
