<div class="column six wide">
  <table class="ui selectable compact celled table">
    <thead>
    <tr>
      <th colspan="2">Captains</th>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
      <tr>
        <td>{{player_name}}</td>
        <td>{{captain}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
