<div id="container" style="width: 100%; height: 100%"></div>
<script>
    anychart.onDocumentReady(function() {

        let thisGameweek = 27;
        let power = 1 + thisGameweek / 10;
        let other = 0;
        let data = [];
        for (let i = 1; i <= thisGameweek; i++) {
          if (i + 8 < thisGameweek) {
            other += Math.pow(i, power);
          }
            let dataEntry = {x: i, value: Math.pow(i, power)};
            data.push(dataEntry);
        }

        // create the chart
        let chart = anychart.pie();

        // set the chart title
        chart.title("Weighted ratings by gameweek");

        // add the data
        chart.data(data);

        // display the chart in the container
        chart.container('container');
        chart.draw();

    });
</script>