<div class="ui column six wide">
  <table class="ui selectable compact table">
    <thead class="title">
    <tr>
      <th colspan="2">Used Chips</th>
    </tr>
    </thead>
    <tbody>
    {{#each players}}
      <tr class="content">
        <td rowspan="{{noZero chips.length}}">{{userName}}
      {{#unless chips}}
          <td>
      {{/unless}}
        </td>
      {{#each chips}}
          <td>
            {{readableChip name}} - GW {{event}}
          </td>
        </tr>
      {{/each}}
    {{/each}}
    </tbody>
  </table>
</div>
