<div class="column">
  <table class="ui selectable compact single line table">
    <thead>
    <tr>
      <th colspan="3">Overall</th>
    </tr>
    </thead>
    <tbody>
    {{#each overallTable}}
      <tr>
        <td>{{#if prize}} <div class="ui ribbon label">{{prize}}</div>{{/if}}</td>
        <td>{{name}}</td>
        <td>{{score}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
