<div class="ui column">
  <table class="ui selectable single line table">
    <thead class="title">
    <tr>
      <th colspan="2">Prizes</th>
    </tr>
    </thead>
    <tbody class="content">
    {{#each prizes}}
      <tr>
        <td>{{player_name}}</td>
        <td>€{{prizeMoney}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
