<div class="ui column nine wide">
  <table class="ui selectable compact table">
    <thead class="title">
    <tr>
      <th>Transfers</th>
      <th>In</th>
      <th>Out</th>
    </tr>
    </thead>
    <tbody class="content">
    {{#each players}}
      <tr>
        <td rowspan="{{noZero gameweekTransfers.length}}">{{userName}}
          {{#unless gameweekTransfers}}
              <td></td><td>
          {{/unless}}
        </td>
      {{#each gameweekTransfers}}
          <td><i class="green chevron circle up icon"></i> {{playerIn}}</td>
          <td><i class="red chevron circle down icon"></i> {{playerOut}}</td>
        </tr>
      {{/each}}
    {{/each}}
    </tbody>
  </table>
</div>
