<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html>
<head>
  <meta charset="utf-8">
  <title> {{title}} </title>

  <link rel="icon" href="http://res.cloudinary.com/dth42qs8n/image/upload/c_scale,h_16,w_16/v1500043161/WIT-Logo2_zlwfz2.ico">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">

  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>