<div class="ui grid container center aligned">
  {{> overall-table}}
  {{> monthly-tables}}
</div>
{{> live-gameweek}}
<div class="ui grid container">
  {{> transfers}}
  {{> captains}}
</div>
<div class="ui grid container">
  {{> cup}}
  {{> cup-tables}}
</div>
