{{#if loading}}
  <div class="ui active dimmer" title="{{loading}}" id="loader">
    <div class="ui indeterminate text loader">Loading...</div>
  </div>
{{else}}
  {{> header}}
  <div class="ui container">

  </div>
  <div class="ui three column relaxed grid container center aligned">
    {{!--> overall-table}}
    {{> prizes--}}
    {{> monthly-tables}}
  </div>
  <!-- div class="ui relaxed grid container">
    {{!-- > cup}}
    {{> cup-tables --}}
  </div -->
  <div class="ui three column relaxed grid container center aligned">
    {{> live-gameweek}}
  </div>
  <div class="ui relaxed grid container center aligned">
    {{> transfers}}
    {{> captains}}
    {{> chips}}
    {{> most-picked}}
  </div>
{{/if}}
<script>
  const loader = document.getElementById('loader');
  const reload = () => {
    location.reload();
  };

  if (loader) {
    if (loader.title === 'true') {
      setTimeout(reload, 1000);
    }
  } else {
    setTimeout(reload, 1000 * 60 * 2);
  }

  $( function () {
    $(' .ui.accordion ').accordion({

    });
  } );
</script>

